.video-container{
    height: 78vh;
    /* border-radius: 20px; */
    background-color: white;
    overflow: scroll;  /* Moving scroll to posts. For overflow no. of posts */
    scroll-snap-type: y mandatory; 
    scrollbar-width: none;
}

.video-container::-webkit-scrollbar {
    display: none;
}

.videos{
    position: relative;
    border-radius: 15px;
}
.fa{
    position: absolute;
    bottom : 7% ;
    left : 10% ;
}

.fa h4{
    color : white ;
    margin-top: 9%;
    margin-left: 15% ; 
}

.icon-styling{
    position: absolute;
    bottom: 2%;
    left: 12%;
}

.like{
    cursor: pointer;
    color : #e74c3c
}

.unlike{
    cursor: pointer;
    color: white;
}

.chat-styling{
    color : white ;
    position: absolute;
    bottom: 2%;
    left: 25%;
}

.modal-container{
    display : flex ;
    height : 100% ;
    width : 100% ;
}

.video-modal{
    width : 50% ;
    /* height : 100% ; */
    display : flex ;
    align-items: center;
    justify-content: center;
}

.video-modal video{
    height : 85vh ;
    border-radius: 15px;
}

.comment-modal{
    width : 50% ;
    height : 100% ;
}

.unlike2{
    color : black ;
    cursor: pointer ;
}

.card1 {
    overflow-y: auto;
    height: 70vh;
    max-height: 500px;
  }
  
  .card1::-webkit-scrollbar {
    width: 6px;
  }
  
  .card1::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .card1::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@media screen and (max-width:768px) {
    .video-container{
        height: 74vh;
    }

    .modal-container{
        display : flex ;
        flex-direction: column;
        align-items: center;
        height : 80vh ;
        width : 100% ;
    }

    .video-modal{
        display: none;
        /* width : 100% ;
        height : 40% ;
        display : flex ;
        align-items: center;
        justify-content: center; */
    }

    /* .video-modal video{
        height : 100% ;
    } */
    
    .comment-modal{
        width : 100% ;
        height : 40% ;
        position: relative;
    }
}

@media screen and (max-width:426px) {
    .video-container{
        height: 70vh;
    }

    .fa{
        position: absolute;
        bottom : 6.5% ;
        left : 5% ;
    }

    .icon-styling{
        position: absolute;
        bottom: 2%;
        left: 6%;
    }

    .chat-styling{
        color : white ;
        position: absolute;
        bottom: 2%;
        left: 19%;
    }
}