.spacer{
    min-height : 12vh ;
}

.container{
    min-height : 88vh ;
    margin-left : 5% ;
    margin-right : 5% ;
}

.upper-part{
    display : flex ;
    align-items : center ;
    justify-content : space-between ;
    column-gap: 1rem;
}

.profile-img{
    /* flex-basis : 50% ; */
    max-width: 6rem;
    width: 20%;
}

.info{
    width : fit-content ;
    margin-right: 2rem;
}

.profile-img img{
    height : 100% ;
    width : 100% ;
    border-radius: 50% ;
}

.profile-videos{
    display: flex;
    flex-wrap: wrap;
}

.profile-videos video{
    height: 20rem;
    padding: 0.5rem;
}

@media screen and (max-width:450px) {
    .info{
        margin-right: 0;
       
    }

    .info .infoText{
        font-size: 20px;
    }
}