.signupWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupCard{
    width: 27% ;
    background-color: white;
    /* margin-top: 5% ; */
    min-width: 350px;
    padding-top: 2%;
}
.insta-logo{
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin-top: 2%;
}

.insta-logo img{
    width: 15vw;
}

@media only screen and (max-width : 620px){
    .signupCard{
        width: 80% ;
        min-width:auto;
       
    }
    .insta-logo img{
        width: 35%;
    }
}